/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 Oct, 2018, 2:46:55 PM
    Author     : lokesh
*/

#edit-proof-of-identity-ajax-wrapper, #edit-proof-of-address-ajax-wrapper, #edit-selfy-phn-wth-imei-ajax-wrapper {
    width: 400px;
}
.form-file{
    min-width: 260px;
}
.bottom-space{
    margin-bottom: 20px;
}