.form-item-city, .form-file{
    width:30% !important;
    height: auto !important;
}
#edit-dob {
    border: none !important;
    box-shadow: none !important;
}
.input-group .form-control{
    z-index: 0 !important;
}
/*
.form-item-upload .input-group-btn {
    right: 60%;
}*/
#edit-submit {
    margin-top:15px;
}